.block-selector{
    color: #882C62;
    position: relative;
    margin-right: 20px;
    -webkit-user-select: none;
    border:5px solid peachpuff;
    border-radius: 10px 0 10px 0;
}
.column {
    display: flex;
    margin-left: 15px;
    max-width: 100%;
    flex: 0 0 20%;
    min-height: 1px;
    margin-top:3px;
    margin-bottom: 10px;
}
.background-row-movies{

}
.row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
}