.tab {
    height: 50px;
    width: 100px;
    background: #FFCDA6;
    border: 4px solid white;
    border-radius: 5px 0 5px 0;
    color: #882C62;
    position: relative;

    left: 17%;
    -webkit-user-select: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top:20px;
    margin-left:5%;
    margin-right: 5%;


}
